{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"semi": true,
	"printWidth": 100,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}